ion-list{
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid black;
}
ion-title{
    text-align: center;
}
ion-button{
    margin-left: 46%;
}
@media only screen and (max-width: 750px) {

    ion-button{
        margin-left: 40%;
    }
}