<ion-header>
  <ion-toolbar>
    <ion-title>Select Your Date</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']">Back</ion-button>
</ion-header>

<ion-content>

   <ion-list>
        <ion-label>Month</ion-label>
        <ion-item>
            <ion-select [(ngModel)]="month" (ngModelChange)="setMonth()" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="January">January</ion-select-option>
              <ion-select-option value="February">February</ion-select-option>
              <ion-select-option value="March">March</ion-select-option>
              <ion-select-option value="April">April</ion-select-option>
              <ion-select-option value="May">May</ion-select-option>
              <ion-select-option value="June">June</ion-select-option>
              <ion-select-option value="July">July</ion-select-option>
              <ion-select-option value="August">August</ion-select-option>
              <ion-select-option value="September">September</ion-select-option>
              <ion-select-option value="October">October</ion-select-option>
              <ion-select-option value="November">November</ion-select-option>
              <ion-select-option value="December">December</ion-select-option>
            </ion-select>
          </ion-item>
    
         
              <ion-label>Day</ion-label>
              <ion-item>
                  <ion-select [(ngModel)]="day" (ngModelChange)="setDay()" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="6">6</ion-select-option>
                    <ion-select-option value="7">7</ion-select-option>
                    <ion-select-option value="8">8</ion-select-option>
                    <ion-select-option value="9">9</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="11">11</ion-select-option>
                    <ion-select-option value="12">12</ion-select-option>
                    <ion-select-option value="13">13</ion-select-option>
                    <ion-select-option value="14">14</ion-select-option>
                    <ion-select-option value="15">15</ion-select-option>
                    <ion-select-option value="16">16</ion-select-option>
                    <ion-select-option value="17">17</ion-select-option>
                    <ion-select-option value="18">18</ion-select-option>
                    <ion-select-option value="19">19</ion-select-option>
                    <ion-select-option value="20">20</ion-select-option>
                    <ion-select-option value="21">21</ion-select-option>
                    <ion-select-option value="22">22</ion-select-option>
                    <ion-select-option value="23">23</ion-select-option>
                    <ion-select-option value="24">24</ion-select-option>
                    <ion-select-option value="25">25</ion-select-option>
                    <ion-select-option value="26">26</ion-select-option>
                    <ion-select-option value="27">27</ion-select-option>
                    <ion-select-option value="28">28</ion-select-option>
                    <ion-select-option value="29">29</ion-select-option>
                    <ion-select-option value="30">30</ion-select-option>
                    <ion-select-option value="31">31</ion-select-option>
    
                  </ion-select>
                </ion-item>

    
          
              </ion-list>

              
                 <ion-button [routerLink]="['/timepage']">Next</ion-button>
                 
          
</ion-content>
